<div class="about-us">
	<section class="about-us--banner" style="background-image: url('images/abt.jpg')">
		<div class="title">
			About us
		</div>
	</section>
</div>

<section class="our-services">
    <div class="container">
        <div class="sub-title">Our Core Value</div>
        <div class="title">Integrity, Trust and Innovation</div>
        <div class="caption">Our ITI (Integrity, Trust and Innovation) model of communication helps build brands reputation, so it stands out above the market place clutter. </div>
        <div class="card-wrap">
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">Vision</div>
                <div class="caption">Our vision is to be the preferred channel of communications, projecting African brands to the rest of the World. </div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">Mission</div>
                <div class="caption">Curve’s mission is to provide unique mileage for clients through planning and strategic executions using cutting-edge innovations, skills and modern technologies to achieve positive impacts in service delivery.</div>
            </div>
            <div class="card" style="background-image: url('images/cards-bg.png')">
                <div class="title">History</div>
                <div class="caption">Though founded in 2012, Curve Communications is one of the fastest growing public relations agency in Nigeria. </div>
            </div>
        </div>
    </div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
			<div class="content">
				<div class="title">
					<span class="line"></span>
					Curve Communications
				</div>
				<div class="text">Curve Communications offers diverse services ranging from Public Relations to Events Management and Online Marketing. Our versatile range of communication methods provides clients with creative solutions.</div>
			</div>
			<div class="image">
				<img src="images/about_us_img_02.jpg" alt="">
			</div>
		</div>
	</div>
</section>
	