<div class="about-us">
    <section class="about-us--banner" style="background-image: url('images/gallery.jpg')">
        <div class="title">
            Gallery
        </div>
    </section>
</div>
<section class="gallery-wrap">
        <div class="container">
            <div class="gallery">
                <!-- <a data-fancybox="gallery" href="images/gallery/1.jpg"><img src="images/gallery/1.jpg"></a> -->
                <a class="img-wap" data-fancybox="gallery" href="images/gallery/2.jpg">
                    <div class="img" style="background-image: url('images/gallery/2.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/3.jpg">
                    <div class="img" style="background-image: url('images/gallery/3.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/4.jpg">
                    <div class="img" style="background-image: url('images/gallery/4.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/5.jpg">
                    <div class="img" style="background-image: url('images/gallery/5.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/6.jpg">
                    <div class="img" style="background-image: url('images/gallery/6.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/7.jpg">
                    <div class="img" style="background-image: url('images/gallery/7.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/8.jpg">
                    <div class="img" style="background-image: url('images/gallery/8.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/9.jpg">
                    <div class="img" style="background-image: url('images/gallery/9.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/10.jpg">
                    <div class="img" style="background-image: url('images/gallery/10.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/11.jpg">
                    <div class="img" style="background-image: url('images/gallery/11.jpg')"></div>
                </a>
                <!-- <a data-fancybox="gallery" href="images/gallery/12.CR2">
                    <div class="img" style="background-image: url('images/gallery/12.CR2')"></div>
                </a> -->
                <a data-fancybox="gallery" href="images/gallery/13.jpg">
                    <div class="img" style="background-image: url('images/gallery/13.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/14.jpg">
                    <div class="img" style="background-image: url('images/gallery/14.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/15.jpg">
                    <div class="img" style="background-image: url('images/gallery/15.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/16.jpg">
                    <div class="img" style="background-image: url('images/gallery/16.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/17.jpg">
                    <div class="img" style="background-image: url('images/gallery/17.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/18.jpg">
                    <div class="img" style="background-image: url('images/gallery/18.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/19.jpg">
                    <div class="img" style="background-image: url('images/gallery/19.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/20.jpg">
                    <div class="img" style="background-image: url('images/gallery/20.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/21.jpg">
                    <div class="img" style="background-image: url('images/gallery/21.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/22.jpg">
                    <div class="img" style="background-image: url('images/gallery/22.jpg')"></div>
                </a>
                <!-- <a data-fancybox="gallery" href="images/gallery/23.jpg">
                    <div class="img" style="background-image: url('images/gallery/23.jpg')"></div>
                </a> -->
                <a data-fancybox="gallery" href="images/gallery/24.jpg">
                    <div class="img" style="background-image: url('images/gallery/24.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/25.jpg">
                    <div class="img" style="background-image: url('images/gallery/25.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/26.jpg">
                    <div class="img" style="background-image: url('images/gallery/26.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/27.jpg">
                    <div class="img" style="background-image: url('images/gallery/27.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/28.jpg">
                    <div class="img" style="background-image: url('images/gallery/28.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/29.jpg">
                    <div class="img" style="background-image: url('images/gallery/29.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/30.jpg">
                    <div class="img" style="background-image: url('images/gallery/30.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/31.jpg">
                    <div class="img" style="background-image: url('images/gallery/31.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/32.jpg">
                    <div class="img" style="background-image: url('images/gallery/32.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/33.jpg">
                    <div class="img" style="background-image: url('images/gallery/33.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/34.jpg">
                    <div class="img" style="background-image: url('images/gallery/34.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/35.jpg">
                    <div class="img" style="background-image: url('images/gallery/35.jpg')"></div>
                </a>
                <a data-fancybox="gallery" href="images/gallery/36.jpg">
                    <div class="img" style="background-image: url('images/gallery/36.jpg')"></div>
                </a>
            </div>
        </div>
</section>