<div class="about-us">
    <section class="about-us--banner" style="background-image: url('images/service.jpg')">
        <div class="title">
            Services
        </div>
    </section>
</div>

<section class="our-services">
        <div class="container">
            <div class="sub-title">Our Services</div>
            <div class="title">Our Special Services</div>
            <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</div>
            <div class="card-wrap">
                <div class="card" style="background-image: url('images/cards-bg.png')">
                    <div class="icon"><img src="images/s1.png" alt=""></div>
                    <div class="title">Fundemental nature of creativity and collaboration</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                </div>
                <div class="card" style="background-image: url('images/cards-bg.png')">
                    <div class="icon"><img src="images/s2.png" alt=""></div>
                    <div class="title">Successful collaboration still depends on trust</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                </div>
                <div class="card" style="background-image: url('images/cards-bg.png')">
                    <div class="icon"><img src="images/s3.png" alt=""></div>
                    <div class="title">The improved work-life integration has enabled</div>
                    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                </div>
            </div>
        </div>
    </section>